<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .card-header {
            background-color: red;
        }

        .index-h1 {
            font-size: 12px;
        }
    </style>
</head>

<body>
    {{include './header.html'}}
    <h1 class="index-h1">hello {{name}}</h1>
    {{include './footer.html'}}
</body>

</html>